div{
  width: 100px;
  height: 100px;
  position: absolute;
  display:block;
}

.flashButton{
  position: absolute;
  top:40%;
  left:40%;
}



.stopButton{
  position: absolute;
  top:40%;
  left:45%;
}

.restartButton{
  position: absolute;
  top:40%;
  left:50%;
}

img{
  width:50px;
  border-radius: 50%;
}
img:hover{
  cursor: pointer;
}

.div1{
  background-color: red;
  left:35px;
  top:35px;
  
}

.div2{
  background-color: yellow;
  top:35px;
  right:35px;
  
}

.div3{
  bottom:35px;
  left:35px;
  background-color: rgb(3, 153, 3);
}

.div4{
  bottom:35px;
  right:35px;
  background-color: rgb(3, 26, 153);
}


